services:
  laravel_app:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    environment:
      - BROADCAST_DRIVER=redis
      - CACHE_DRIVER=redis
      - SESSION_DRIVER=redis
      - QUEUE_CONNECTION=redis
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db_postgres
    networks:
      - app-network

  db_postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db_data:/var/lib/postgresql/data

  webserver:
    image: nginx:latest
    container_name: nginx_webserver
    volumes:
      - ./src:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8000:80"
    depends_on:
      - laravel_app
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis_server
    ports: 
      - "6339:6379"
    networks:
      - app-network

  node:
    build:
      context: ./node-server
      dockerfile: Dockerfile
    container_name: node_server
    volumes:
      - ./node-server:/usr/src/app
    ports:
      - "6001:6001"
    depends_on:
      - redis
      - db_postgres
    networks:
      - app-network

volumes:
  db_data:
    driver: local

networks:
  app-network:
    driver: bridge
